body {
   /* background-image: url('Media/EZZEDesignImage.png'); */
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #413D37;
}




h2 {
  font-size: 48px; /* Large text size for the name */
  color: white;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
}

p {
  align-items: center;
  font-size: 48px; /* Large text size for the name */
  color: white;
  font-family: 'Istok Web', sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure canvas is behind the name */
}


section {
  padding: 20px;
  background-color: #5E574D; /* Adjust background color if needed */
  margin-top: 60px; /* Adjust this to account for the fixed header */
  color: white;
  margin: 60px auto; /* xCenter the section horizontally */
  border-radius: 8px; /* Optional: add some rounded corners */
}

.transparent-header {
  background-color: #3634575a; /* Change as per your color needs with appropriate opacity */
  width: 100%;
  position: fixed; /* To make it stay at the top when scrolling */
  top: 0;
  left: 0;
}

.centered-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}


.centered-name {
  font-size: 48px; /* Large text size for the name */
  color: white;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-around; /* This will space out your nav items evenly */
  align-items: center;
  padding: 10px 0; /* Adjust as needed */
}

nav a {
  color: #ffffff; /* Adjust the color as needed */
  text-decoration: none;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  font-size: 20px; /* Adjust the font size as needed */
}
