body {
   /* background-image: url('Media/EZZEDesignImage.png'); */
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #413D37;
}




h2 {
  font-size: 48px; /* Large text size for the name */
  color: white;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
}

p {
  align-items: center;
  font-size: 48px; /* Large text size for the name */
  color: white;
  font-family: 'Istok Web', sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure canvas is behind the name */
}